// @import "fonts";
@import "mixins";
@import "reset";
@import "varibleck";

body{
  width: 100vw;
  height: 100vh;
}
header {
  width: 100vw;
  height: 700px;
  margin: auto;
  background-image: url('../img/Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  .heder__menu {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
    padding: 40px 0 149px 0;
    &__left {
      align-self: center;
      width: 300px;
      font-size: 20px;
      line-height: 24px;
      font-weight: 300;
      color: $text-color;
    }
    .heder__menu__right {
      width: 210px;
      display: flex;
      .heder__menu__log {
        font-size: 14px;
        color: $text-color;
        margin: 10px 19px;
      }
      .heder__menu__sing {
        font-size: 14px;
        line-height: 17px;
        color: $text-color;
        background: none;
        border: 1px white solid;
        width: 90px;
        height: 36px;
        border-radius: 30px;
      }
    }
  }
  .title {
    margin: auto;
    width: 500px;
    text-align: center;
    .title__first {
      line-height: 63px;
      font-size: 52px;
      color: white;
    }
    .title__second {
      font-size: 24px;
      color: $text-color;
      margin: 28.5px 0 33px 0;
      letter-spacing: 0.5px;
    }
    .title__buttom {
      font-size: 14px;
      background: none;
      color: $text-color;
      border: 1px rgb(255, 59, 59) solid;
      width: 225px;
      height: 40px;
      border-radius: 30px;
      background-color: $button-color;
    }
  }
}

main {
  width: 100vw;
  margin: auto;
  .wrapper {
    width: 100%;
    height: 461px;
    .dreamshare__title {
      @include title("Montserrat Normal", 0.5px, rgba(68, 68, 68, 1), 32px, 26px, center, 700);
      margin: 89px 0 35px 0;
    }
    .dreamshare {
      width: 100%;
      display: flex;
      justify-content: center;
      .dreamshare__one {
        width: 24%;
        height: 400px;
        background-image: url(../img/1.png);
        background-size: cover;
        box-shadow: 1px 2px 8px black;
        display: flex;
        align-items: flex-end;
        .dreamshare__wrapper {
          margin: 0 25px 21px 25px;
          .dreamshare__one__button {
            @include buttom(
                            "Montserrat Normal", 10px,2px,none,white,1px rgb(255, 59, 59) solid, 70px, 20px, 30px,rgb(255, 59, 59)
            );
          }
          .dreamshare__one__title {
            @include dreamshare-text("Montserrat Bold", white, 24px, 26px);
            margin: 23px 0 24px 0;
          }
          .dreamshare__one__text {
            @include dreamshare-text-two("Roboto Normal", rgba(227, 227, 227, 1), 14px, 14px, 300);
          }
        }
      }
      .dreamshare__two {
        width: 24%;
        height: 400px;
        margin: 0 20px;
        background-image: url(../img/2.png);
        background-size: cover;
        box-shadow: 1px 2px 8px black;
        display: flex;
        align-items: flex-end;
        &__wrapper {
          margin: 0 25px 21px 25px;

          .dreamshare__two__button {
            @include buttom(
                            "Array", 10px,2px,none,white,1px rgb(255, 59, 59) solid, 70px, 20px, 30px,rgb(255, 59, 59)
            );
          }
          .dreamshare__two__title {
            @include dreamshare-text("Array", white, 24px, 26px);
            margin: 30px 0 23px 0;
            font-weight: 700;
            line-height: 14px;
          }
          .dreamshare__two__text {
            @include dreamshare-text-two("Array", rgba(227, 227, 227, 1), 14px, 14px, 300);
          }
        }
      }
      .dreamshare__three {
        width: 24%;
        height: 400px;
        background-image: url(../img/3.png);
        background-size: cover;
        box-shadow: 1px 2px 8px black;
        display: flex;
        align-items: flex-end;
        .dreamshare__three__wrapper {
          margin: 0 25px 21px 25px;
          .dreamshare__three__button {
            @include buttom(
                            "Array", 10px,2px,none,white,1px rgb(255, 59, 59) solid, 70px, 20px, 30px,rgb(255, 59, 59)
            );
          }
          .dreamshare__three__title {
            @include dreamshare-text("Array", white, 24px, 26px);
            margin: 23px 0 26px 0;
          }
          .dreamshare__three__text {
            @include dreamshare-text-two("Array", rgba(227, 227, 227, 1), 14px, 14px, 300);
          }
        }
      }
    }
  }
  .wrapper__users {
    margin-top: 96px;
    .usears__title {
      @include title("Array", 0.5px, rgba(68, 68, 68, 1), 32px, 26px, center, 700);
      margin-bottom: 35px;
      margin-bottom: 29px;
    }

    .users__block {
      width: 100%;
      display: flex;
      justify-content: space-around;
      .users__block__first {
        display: flex;
        width: 100%;
        .users__bradley {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          &__avatar {
            width: min-content;
            position: relative;
            .avatar__hobby {
              position: absolute;
              right: 0px;
              bottom: 4px;
              background-color: rgb(255, 59, 59);
              width: 32px;
              height: 32px;
              border-radius: 50%;
              .hobby {
                position: absolute;
                right: 9px;
                bottom: 8px;
              }
            }
          }
          &__name {
            line-height: 17px;
            font-weight: 700;
            font-size: 14px;
            margin: 17px 0 24px 0;
          }
          &__text {
            text-align: center;
            line-height: 14px;
            color: rgba(102, 102, 102, 1);
            font-size: 14px;
            text-justify: auto;
          }
        }
        .users__marie {
          @extend .users__bradley;
          .users__marie__avatar {
            @extend .users__bradley__avatar;
            .avatar__hobby {
              background-color: rgba(25, 212, 202, 1);
            }
          }
          .users__marie__name {
            @extend .users__bradley__name;
          }
          .users__marie__text {
            @extend .users__bradley__text;
          }
        }
      }
      .users__block__second {
        @extend .users__block__first;

        .users__diana {
          @extend .users__bradley;
          .users__diana__avatar {
            @extend .users__bradley__avatar;
            .avatar__hobby {
              background-color: rgba(255, 167, 16, 1);
            }
          }
          .users__diana__name {
            @extend .users__bradley__name;
          }
          .users__diana__text {
            @extend .users__bradley__text;
          }
        }
        .users__christopher {
          @extend .users__bradley;
          .users__christopher__avatar {
            @extend .users__bradley__avatar;
            .avatar__hobby {
              background-color: rgba(102, 125, 243, 1);
            }
          }
          .users__christopher__name {
            @extend .users__bradley__name;
          }
          .users__christopher__text {
            @extend .users__bradley__text;
          }
        }
      }
    }
    .wrapper__button {
      display: flex;
      justify-content: center;
      margin: 39px 0 91px 0;

      .usears__button {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        color: rgba(255, 78, 80, 1);
        background: none;
        border: 1px rgba(255, 78, 80, 1) solid;
        width: 180px;
        height: 40px;
        border-radius: 30px;
      }
    }
  }
  .wrapper__discover {
    .discover__title {
      @include title("Array", 0.5px, rgba(68, 68, 68, 1), 32px, 26px, center, 700);
      margin-bottom: 34px;
    }
    .discover__block {
      display: flex;
      justify-content: space-between;
      .discover__block__first {
        width: 32%;
        height: 308px;
        background-image: url(../img/discover/Sport.png);
        background-size: cover;
        .discover__block__first__title {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .title {
            @include block-text("Array", 0.5px, white, 27px, 22px, bold);
          }
        }
      }
      .discover__block__second {
        @extend .discover__block__first;
        background-image: url(../img/discover/Healath.png);
        .discover__block__second__title {
          @extend .discover__block__first__title;
          .title {
            @extend .title;
          }
        }
      }
      .discover__block__third {
        @extend .discover__block__first;
        background-image: url(../img/discover/Extreme.png);
        .discover__block__third__title {
          @extend .discover__block__first__title;
          .title {
            @extend .title;
            text-align: center;
            width: 188px;
          }
        }
      }
    }
    .discover__string {
      display: flex;
      justify-content: space-between;
      margin: 20px 0 21px 0;
      .discover__string__first {
        width: 32%;
        height: 310px;
        background-image: url(../img/discover/Games.png);
        background-size: cover;
        .discover__string__first__title {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .title {
            @include block-text("Array", 0.5px, white, 27px, 22px, bold);
          }
        }
      }
      .discover__string__second {
        width: 66%;
        height: 310px;
        background-image: url(../img/discover/Culture.png);
        background-size: cover;
        .discover__string__second__title {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .title {
            @include block-text("Array", 0.5px, white, 27px, 22px, bold);
          }
        }
      }
    }
    .discover__bottom {
      display: flex;
      justify-content: space-between;
      .discover__bottom__first {
        width: 66%;
        height: 310px;
        background-image: url(../img/discover/relax.png);
        background-size: cover;
        .discover__bottom__first__title {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .title {
            @include block-text("Array", 0.5px, white, 27px, 22px, bold);
          }
        }
      }
      .discover__bottom__second {
        width: 32%;
        height: 310px;
        background-image: url(../img/discover/traveling.png);
        background-size: cover;
        .discover__bottom__second__title {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .title {
            @include block-text("Array", 0.5px, white, 27px, 22px, bold);
          }
        }
      }
    }
  }
  .wrapper__form {
    margin: 91px 0 102px 0;
    height: 158px;
    .form__title {
      @include title("Array", 0.5px, rgba(68, 68, 68, 1), 32px, 26px, center, 700);
      margin-bottom: 52px;
    }
    .form__text {
      text-align: center;
      margin-bottom: 25px;
      font-family: "Array";
      font-weight: 300;
      font-size: 18px;
      color: $form-color;
      line-height: 14px;
    }
    form {
      display: flex;
      justify-content: center;
      color: $form-color;
      .form__input {
        width: 299px;
        height: 40px;
        border-radius: 2px;
        font-family: "Array";
        color: $form-color;
        border: rgb(204, 203, 203) 0.5px solid;
      }
      .form__input__buttom {
        width: 172px;
        height: 40px;
        background-color: rgba(255, 78, 80, 1);
        border: rgba(255, 78, 80, 1) solid 1px;
        border-radius: 20px;
        font-family: "Array";
        color: $text-color;
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }
}
footer {
  border-top: red solid 1px;
  .footer__wrapper {
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 41px;
    .footer__left {
      width: 544px;
      .footer__left__column {
        display: flex;
        justify-content: space-between;
        .column__first {
          .column__dreamshare {
            font-family: "Array";
            font-size: 16px;
            color: $button-color;
          }
        }
        .column__second {
          .company {
            font-family: "Array";
            font-size: 14px;
            margin-bottom: 14px;
            letter-spacing: 1px;
          }
          .company__list {
            height: 156px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .company__li {
              font-family: "Array";
              font-weight: 300;
              font-size: 14px;
              color: $form-color;
            }
          }
        }
        .column__third {
          .partners {
            font-family: "Array";
            font-size: 14px;
            margin-bottom: 11px;
          }
        }
      }
    }

    .footer__right {
      width: 397px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .footer__designer {
        width: 83px;
        height: 9px;
        margin-bottom: 8px;
      }
      .footer__bitmap {
        width: 110px;
        height: 24px;
      }
    }
  }
}